.ding-navigation-box-items {
  border: 2px solid black;
  border-right: none;
}

.ding-navigation-box-item {
  border-bottom: 2px solid black;
}

.ding-navigation-box-item:last-child {
	border-bottom: none;
}
	
.ding-navigation-box-content-areas {
  border: 2px solid black;
  box-shadow: 5px 5px 5px grey;
  margin-right: 5px;
  margin-bottom: 5px;
}

