.ding-navigation-box-items {
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.ding-navigation-box-item {
  border-bottom: 2px solid black;
}

.ding-navigation-box-content-areas {
  border: 2px solid black;
  box-shadow: 0.5em 0.5em 0.5em grey;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

