/* ==========================================================================
   Ding navigation box - Admin pages css
   ========================================================================== */

#ding-navigation-box-admin {
	margin-bottom: 20em;
}

#ding-navigation-box-admin .ding-navigation-box {
	margin-top: 0.65em;
}

#ding-navigation-box-admin .edit-item-link {
	float: left;
}

#ding-navigation-box-admin a#edit-item-link,
#ding-navigation-box-admin a.move-item-button {
	display: inline-block;
}

#ding-navigation-box-admin a.move-item-button {
	width: 7em;
}

#ding-navigation-box-admin a.move-item-button.disabled {
	pointer-events: none;
	cursor: default;
}

#change-position-info {
	color: black;
}

#change-position-info.success {
	color: green;
}

#change-position-info.error {
	color: red;
}

#ding-navigation-box-admin a.slideshow-demo-button {
	display: inline-block;	
	width: 5em;
	margin-top: 0.425em;
	margin-bottom: 0.3125em;
	margin-right: 1em;
	margin-left: -0.4em;
}

#ding-navigation-box-admin input.form-submit {
	display: inline-block;
	width: 7em;
	margin-top: 0.65em;
}

#ding-navigation-box-admin .fieldset-legend a,
#ding-navigation-box-admin .fieldset-wrapper a {
	color: black;
}

