/* ==========================================================================
   Ding navigation box - General styling
   ========================================================================== */
   
.ding-navigation-box { 
  background-color: #f5f5f5;
  max-width: 43.75em; /* 700px/16px = 43.75em */ 
}

.ding-navigation-box * {
  margin: 0;
  padding: 0;
  font-size: 100%; /* Set font-size to browser defaults */
}

.ding-navigation-box,
.ding-navigation-box .activation-areas,
.ding-navigation-box .content-areas,
.ding-nav-box-activation-area {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;	
} 

.ding-navigation-box .activation-areas,
.ding-navigation-box .content-areas { 
  float: left;
}

.ding-navigation-box .content-areas {
	width: 80%;
	padding: 0.625em;
	padding-left: 1.875em;
	border: 0.0625em solid #e5e5e5;
  border-left: none;
}

.ding-navigation-box .activation-areas {
  width: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* ==========================================================================
   Ding navigation box - Activation area styling
   ========================================================================== */

.ding-nav-box-activation-area {
	position: relative;
  border-bottom: 0.125em solid white;
}

.ding-nav-box-activation-area:last-of-type {
	border-bottom: none;
}

.ding-nav-box-activation-area > p {
	line-height: 4.125em;
	margin-left: 0.625em;
	margin-right: 0.625em;
	color: white;
}

.ding-nav-box-activation-area > p.ding-nav-box-activation-text-normal {
  display: inline;
}

.ding-nav-box-activation-area > p.ding-nav-box-activation-text-short {
	display: none;
}

.ding-nav-box-activation-arrow {
	position: absolute;
  top: 50%;
  right: -1.25em;
  margin-top: -1.5625em;
  border-top: 1.5625em solid transparent;
  border-left: 1.3125em solid black;
  border-bottom: 1.5625em solid transparent;  
}

.ding-nav-box-activation-area-active {
	background-color: black;
}

.ding-nav-box-activation-area-hover {
	background-color: powderblue;
}

.ding-nav-box-activation-area-hover > p {
	color: black;
}

/* ========================================================================== 
   Ding navigation box - responsive (Breakpoint: 600px/16px = 37.5em) 
   ========================================================================== */
   
@media screen and (max-width: 37.5em) {
	
  .ding-nav-box-activation-area > p.ding-nav-box-activation-text-short {
    display: inline;
  }
  
  .ding-nav-box-activation-area > p.ding-nav-box-activation-text-normal {
    display: none;
  }    
  
}

/* ========================================================================== 
   Ding navigation box - responsive (Breakpoint: 450px/16px = 28.125em) 
   ========================================================================== */

@media screen and (max-width: 28.125em) {
  
  .ding-navigation-box {
    max-width: 25em; /* 400px/16px = 22.5em */
    min-width: 15.625em; /* 250px/16px = 15.625em */
  }
  
	.ding-navigation-box .activation-areas,
	.ding-navigation-box .content-areas { 
	  float: none;
	}
	
	.ding-navigation-box .content-areas {
	  clear: both;
	  margin: 0;
	  width: 100%;
    padding: 0.625em;
    padding-top: 1.875em;
    border: 0.0625em solid #e5e5e5;
    border-top: none;
  }
	
	.ding-navigation-box .activation-areas {
	  width: 100%;
	}
	
	.ding-nav-box-activation-area {
	  float: left;
	  width: 20%;
	  text-align: center;
	  padding-top: 0.625em;
	  padding-bottom: 0.625em;
	  border-right: 0.125em solid white;
	  border-bottom: none;
	}
	
	.ding-nav-box-activation-area:last-of-type {
	  border-right: none;
	}
  
  .ding-nav-box-activation-arrow {
    right: auto;
    top: auto;
    left: 50%;
    bottom: -0.625em;
    margin-left: -1.25em;
    border: none;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    border-top: 0.6875em solid black;
  }
	
	.ding-nav-box-activation-area > p {
	  line-height: normal;
	}
	
}
	


