/* ==========================================================================
   Ding navigation box - General styling
   ========================================================================== */
   
.ding-navigation-box { 
  max-width: 1200px;
  font-size: 100%;
}

.ding-navigation-box * {
  margin: 0;
  padding: 0;
}

.ding-navigation-box,
.ding-navigation-box .activation-areas,
.ding-navigation-box .content-areas,
.ding-navigation-box .activation-area,
.ding-navigation-box .content-area {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;	
} 

.ding-navigation-box .activation-areas,
.ding-navigation-box .content-areas { 
  float: left;
}

.ding-navigation-box .content-areas {
  background-color: #f5f5f5;
	width: 80%;
  min-height: 21em;
	padding-left: 1.875em;
	border: 0.0625em solid #e5e5e5;
}

.ding-navigation-box .activation-areas {
  background-color: rgba(0, 0, 0, 0.5);
  width: 20%;
  height: 21em;
}

.ding-navigation-box .activation-areas-pull {
  display: none;
  cursor: pointer;
}

/* ==========================================================================
   Ding navigation box - Activation area styling
   ========================================================================== */

.ding-navigation-box .activation-area {
	position: relative;
  display: block;
  height: 20%;
  outline: 0;
  text-decoration: none;
  border-bottom: 0.125em solid white;
}

.ding-navigation-box .activation-area:last-of-type {
	border-bottom: none;
}

.ding-navigation-box .activation-area span {
	line-height: 4.15em;
	margin-left: 0.625em; 
	margin-right: 0.625em;
	color: white;
}

.ding-navigation-box .activation-area span.full {
  display: inline;
}

.ding-navigation-box .activation-area span.abbreviation {
	display: none;
}

.ding-navigation-box .activation-area .activation-arrow {
	position: absolute;
  top: 50%;
  right: -1.25em;
  margin-top: -1.5625em;
  border-top: 1.5625em solid transparent;
  border-left: 1.3125em solid black;
  border-bottom: 1.5625em solid transparent;  
}

.ding-navigation-box .activation-area:hover,
.ding-navigation-box .activation-area:focus {
  background-color: powderblue;
}

.ding-navigation-box .activation-area:hover span,
.ding-navigation-box .activation-area:focus span {
  color: black;
}

.ding-navigation-box .activation-area.active {
	background-color: black;
}

.ding-navigation-box .activation-area.active span {
  background-color: black;
  color: white;
}

/* ==========================================================================
   Ding navigation box - Content area styling
   ========================================================================== */

.ding-navigation-box .content-area .header {
  border-bottom: 0.0625em solid #e5e5e5;
  margin-right: 1em;  /* 16px / 16px = 1em */
  margin-bottom: 1em;
}

.ding-navigation-box .content-area h2 {
  font-size: 1.5em; /* 24px / 16px = 1.5em */
  margin-top: 0.66667em; /* 16px / 24px = 0.66667em */  
  margin-bottom: 0.66667em;  
}

.ding-navigation-box .content-area .header-text-paragraph {
  color: rgba(0, 0, 0, 0.698);
  margin-bottom: 1em;
}

.ding-navigation-box .content-area .footer {
  margin-right: 1em;
  margin-bottom: 1em;
}

.ding-navigation-box .content-area .links {
  margin: 0;
  width: 60%;
}

.ding-navigation-box .content-area .link {
  padding: 0;
  width: 33.33333%;
  float: left;
}

/* ========================================================================== 
   Breakpoint: 1120px / 16px = 78.125rem
   Switch to title abbreviation in activation areas 
   ========================================================================== */
   
@media screen and (max-width: 70rem) {
  
  .ding-navigation-box .activation-areas {
    width: 15%;
  }

  .ding-navigation-box .content-areas {
    width: 85%;
  }

  .ding-navigation-box .activation-area span.full {
    display: none;
  }
  
  .ding-navigation-box .activation-area span.abbreviation {
    display: inline;
  }  
  
}

/* ========================================================================== 
   Breakpoint: 860px / 16px = 53.75rem
   Switch to horizontal side by side activation areas. 
   ========================================================================== */
   
@media screen and (max-width: 53.75rem) {
  
  .ding-navigation-box {
    border: none;
  }

  .ding-navigation-box .activation-areas,
  .ding-navigation-box .content-areas {
    float: none;
  }
  
  .ding-navigation-box .content-areas {
    clear: both;
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-top: 1.875em;
    border: 0.0625em solid #e5e5e5;
    border-top: none;
  }
  
  .ding-navigation-box .activation-areas {
    width: 100%;
    height: auto;
  }
  
  .ding-navigation-box .activation-area {
    float: left;
    width: 20%;
    height: auto;
    text-align: center;
    padding-top: 0.5625em;
    padding-bottom: 0.625em;
    border-right: 0.125em solid white;
    border-bottom: none;
  }
  
  .ding-navigation-box .activation-area:last-of-type {
    border-right: none;
  }
  
  .ding-navigation-box .activation-area .activation-arrow {
    right: auto;
    top: auto;
    left: 50%;
    bottom: -0.625em;
    margin-left: -1.25em;
    border: none;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    border-top: 0.6875em solid black; 
  }
  
  .ding-navigation-box .activation-area span {
    line-height: normal;
  }

  .ding-navigation-box .content-area .header {
    margin-left: 1em;
  }

  .ding-navigation-box .content-area h2 {
    margin-top: 0;
  }	  
  
}

/* ========================================================================== 
   Breakpoint: 420px / 16px = 26.25rem
   Display activation areas on top of each other.
   ========================================================================== */

@media screen and (max-width: 26.25rem) {
	
	.ding-navigation-box {
	  min-width: 260px;
	}
	
	.ding-navigation-box .activation-area {
	  float: none;
	  width: 100%;
	  border: none;
	  border-bottom: 0.125em solid white; 
	} 

  .ding-navigation-box .activation-areas {
    display: none;
  }

  .ding-navigation-box .activation-areas-pull {
    display: block;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    border-bottom: 0.25em solid white; 
    position: relative;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
  }

  .ding-navigation-box .activation-areas-pull:after {
    content: "";
    background: url('../images/nav-icon.png') no-repeat;
    width: 1.875em;
    height: 1.875em;
    display: inline-block;
    position: absolute;
    right: 0;   
  }

  .ding-navigation-box .activation-area .activation-arrow {
    border: none;
  }
	
	.ding-navigation-box .activation-area:last-of-type {
	  border-bottom: none;
	}
	
  .ding-navigation-box .activation-area span.full {
    display: inline;
  }
  
  .ding-navigation-box .activation-area span.abbreviation {
    display: none;
  }
	
}
	


