/* ==========================================================================
   Ding navigation box - Admin page styling
   ========================================================================== */

#ding-navigation-box-admin {
	margin-bottom: 1.5em;
}

#ding-navigation-box-admin .ding-navigation-box {
	margin-top: 1.5em;
}

#ding-navigation-box-admin .edit-item-link {
	margin: 1em 0 0 0;
}

#ding-navigation-box-admin .edit-item-link a {
	text-decoration: none;
	text-transform: uppercase;
}

#edit-move-up,
#edit-move-down {
	display: inline;
}