.ding-navigation-box {
  border: 2px solid black;
  -webkit-border-radius: 10px/10px;
  -moz-border-radius: 10px/10px;
  border-radius: 10px/10px;
}

.ding-nav-box-activation-areas {
  border-right: 2px solid black;
}

.ding-nav-box-activation-area {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}
